.body{
  color: black;
  display: flex;
  flex-direction: column;
  width: 300px;
  border-radius: 5px;
  border-style: solid;
  border-color: rgba(255, 255, 255, 0.655);
  border-width: 2px;
  margin: 40px;
  padding: 10px;
  background-color: white;
}
.h1{
  color: black;
  margin: 5px;
  padding: 0;
  font-size: 22px;
  text-align: center;
}

.p{
  margin: 5px;
  font-size: 14px;
}
.buttondiv{
  margin: auto;
  text-align: center;
}
.button{
  margin: 5px;
  text-align: center;
  background-color: rgb(255, 255, 255);
  border-radius: 2px; 
 
}

.buttonD{
  margin: 5px;
  text-align: center;
  background-color: rgb(255, 255, 255);
  border-radius: 2px;  
  color: red;
   border-color: red; 
}

.img{
  min-height: 200px;
  max-height:200px;
}

.start{
  color: white;
  background-color: green;
  border-radius: 2px;
  border-style:solid;
  border-color: white;
}
