.profileLogo {
  width: 200px;
  height: 200px;
  margin-top: 30px;
}

.logo {
  width: 200px;
  height: 200px;
  border-radius: 200px;
}

.line{
  width: 150px;
  height: 0.5px;
  color: gray;
}

.button{
  width: 110px;
  margin: 10px;
  padding: 8px;
  font-size: 16px;
  color: rgb(255, 255, 255);
  background-color: rgba(0, 124, 232, 0.635);
  border-color: rgba(97, 97, 97, 0.521);
  border-style: none;
  border-width: 1.5px;
  border-radius: 2px;

}

.input{
  width: 100%;
  height: 40px;
}
